<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <div id="add-button">
      <a href="/list/new" id="index-add"><button>Add</button></a>
    </div>

    <div class="indexPage">
      <% lists.forEach((list, index) => { %>
      <a href="/list/<%=list._id%>"><h2><%=list.name%></h2><br></a>    
      <% }) %>
    </div>
  </body>
</html>
