<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New</title>
</head>
<body>
    
  <main>
    <a href="/list"> <h4>Back To Main Page</h4></a>
    
    <form action="/list" method="POST">

        <div class="textBox">
        <input type="text" id="newList" name="name" placeholder=" "> 
          <span>Name</span>
      </div>
      
      <br>
      
      <div class="textBox">
        
        <input type="text" id="newUrl" name="url" placeholder=" "/>
        <span>URL</span>
        </div>
      
        <br>

        <div class="textBox">
        
        <input type="text" id="newCreator" name="creator" placeholder=" "/>
        <span>Creator</span>
        </div>
      
      <br>
      
      <div class="textBox" id="noteBox">
       
        <input type="text" id="newNote" name="note" placeholder=" " />
        <span>Note</span> 
      </div>

      <br>

      <div id="resetAdd">
        <input type="reset">
        <input type="submit" value="Add" />
      </div>

       </main>

      <br><br>
      

      </form>
     
</body>
</html>